apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: imagejob-pods-role
rules:
- apiGroups:
  - eraser.sh
  resources:
  - imagecollectors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eraser.sh
  resources:
  - imagecollectors/finalizers
  verbs:
  - update
- apiGroups:
  - eraser.sh
  resources:
  - imagecollectors/status
  verbs:
  - get
  - patch
  - update