name: Run E2E tests

on:
  workflow_call:
    inputs:
      upgrade-test:
        required: false
        type: string
      bucket-id:
        required: true
        type: string

permissions:
  contents: read

jobs:
  build-e2e-test-list:
    name: "Build E2E Test List"
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: set-test-matrix
        run: |
          readarray -d '' test_dirs < <(find ./test/e2e/tests -mindepth 1 -type d -print0)
          json_array="$(printf "%s\n" "${test_dirs[@]}" | jq -R . | jq -cs)"
          echo "e2e-tests=${json_array}" > $GITHUB_OUTPUT
    outputs:
      e2e-tests: ${{ steps.set-test-matrix.outputs.e2e-tests }}
  e2e-test:
    name: "E2E Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs:
      - build-e2e-test-list
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        KUBERNETES_VERSION: ["1.27.13", "1.28.9", "1.29.4", "1.30.2"]
        E2E_TEST: ${{ fromJson(needs.build-e2e-test-list.outputs.e2e-tests) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911
        with:
          egress-policy: audit
      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Fetch Build Artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          pattern: ${{ inputs.bucket-id }}-*
          path: ${{ github.workspace }}/images
          merge-multiple: true
      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: "1.24.9"
          check-latest: true
      - name: Set env
        run: |
          ARCHIVE_DIR=${{ github.workspace }}/images
          REMOVER_REPO=remover
          MANAGER_REPO=manager
          COLLECTOR_REPO=collector
          TRIVY_SCANNER_REPO=scanner

          REMOVER_TAG=test
          MANAGER_TAG=test
          COLLECTOR_TAG=test
          TRIVY_SCANNER_TAG=test

          echo REMOVER_REPO=$REMOVER_REPO >> $GITHUB_ENV
          echo MANAGER_REPO=$MANAGER_REPO >> $GITHUB_ENV
          echo COLLECTOR_REPO=$COLLECTOR_REPO >> $GITHUB_ENV
          echo TRIVY_SCANNER_REPO=$TRIVY_SCANNER_REPO >> $GITHUB_ENV

          echo REMOVER_TAG=$REMOVER_TAG >> $GITHUB_ENV
          echo MANAGER_TAG=$MANAGER_TAG >> $GITHUB_ENV
          echo COLLECTOR_TAG=$COLLECTOR_TAG >> $GITHUB_ENV
          echo TRIVY_SCANNER_TAG=$TRIVY_SCANNER_TAG >> $GITHUB_ENV
          echo ARCHIVE_DIR=$ARCHIVE_DIR >> $GITHUB_ENV

          echo REMOVER_TARBALL_PATH=$ARCHIVE_DIR/${REMOVER_REPO}_${REMOVER_TAG}.tar >> $GITHUB_ENV
          echo MANAGER_TARBALL_PATH=$ARCHIVE_DIR/${MANAGER_REPO}_${MANAGER_TAG}.tar >> $GITHUB_ENV
          echo COLLECTOR_TARBALL_PATH=$ARCHIVE_DIR/${COLLECTOR_REPO}_${COLLECTOR_TAG}.tar >> $GITHUB_ENV
          echo SCANNER_TARBALL_PATH=$ARCHIVE_DIR/${TRIVY_SCANNER_REPO}_${TRIVY_SCANNER_TAG}.tar >> $GITHUB_ENV

          if [[ -n "${{ inputs.upgrade-test }}" ]]; then
            echo HELM_UPGRADE_TEST=1 >> $GITHUB_ENV
          fi
      - name: Run e2e test
        run: |
          make e2e-test \
            KUBERNETES_VERSION=${{ matrix.KUBERNETES_VERSION }} \
            E2E_TESTS=${{ matrix.E2E_TEST }}
      - name: Remove slash from E2E_TEST
        run: |
          E2E_TEST=${{ matrix.E2E_TEST }}
          E2E_TEST=${E2E_TEST//\//_}
          echo "E2E_TEST=${E2E_TEST}" >> $GITHUB_ENV
      - name: Upload artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
        if: always()
        with:
          name: test_logs_${{ matrix.KUBERNETES_VERSION }}_${{ env.E2E_TEST }}
          path: ${{ github.workspace }}/test_logs/
          retention-days: 1
          overwrite: true
