name: Run E2E tests

on:
  workflow_call:
    inputs:
      upgrade-test:
        required: false
        type: string
      bucket-id:
        required: true
        type: string

permissions:
  contents: read

jobs:
  build-e2e-test-list:
    name: "Build E2E Test List"
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v2.4.0
        with:
          egress-policy: audit

      - name: Check out code into the Go module directory
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - id: set-test-matrix
        run: |
          readarray -d '' test_dirs < <(find ./test/e2e/tests -mindepth 1 -type d -print0)
          json_array="$(printf "%s\n" "${test_dirs[@]}" | jq -R . | jq -cs)"
          echo "e2e-tests=${json_array}" > $GITHUB_OUTPUT
    outputs:
      e2e-tests: ${{ steps.set-test-matrix.outputs.e2e-tests }}
  e2e-test:
    name: "E2E Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs:
      - build-e2e-test-list
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        KUBERNETES_VERSION: ["1.24.12", "1.25.8", "1.26.3", "1.27.1"]
        E2E_TEST: ${{ fromJson(needs.build-e2e-test-list.outputs.e2e-tests) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969
        with:
          egress-policy: audit
      - name: Check out code into the Go module directory
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Fetch Build Artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: ${{ inputs.bucket-id }}
          path: ${{ github.workspace }}/images
      - name: Set up Go 1.20
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version: "1.20"
      - name: Set env
        run: |
          ARCHIVE_DIR=${{ github.workspace }}/images
          REMOVER_REPO=remover
          MANAGER_REPO=manager
          COLLECTOR_REPO=collector
          TRIVY_SCANNER_REPO=scanner

          REMOVER_TAG=test
          MANAGER_TAG=test
          COLLECTOR_TAG=test
          TRIVY_SCANNER_TAG=test

          echo REMOVER_REPO=$REMOVER_REPO >> $GITHUB_ENV
          echo MANAGER_REPO=$MANAGER_REPO >> $GITHUB_ENV
          echo COLLECTOR_REPO=$COLLECTOR_REPO >> $GITHUB_ENV
          echo TRIVY_SCANNER_REPO=$TRIVY_SCANNER_REPO >> $GITHUB_ENV

          echo REMOVER_TAG=$REMOVER_TAG >> $GITHUB_ENV
          echo MANAGER_TAG=$MANAGER_TAG >> $GITHUB_ENV
          echo COLLECTOR_TAG=$COLLECTOR_TAG >> $GITHUB_ENV
          echo TRIVY_SCANNER_TAG=$TRIVY_SCANNER_TAG >> $GITHUB_ENV
          echo ARCHIVE_DIR=$ARCHIVE_DIR >> $GITHUB_ENV

          echo REMOVER_TARBALL_PATH=$ARCHIVE_DIR/${REMOVER_REPO}_${REMOVER_TAG}.tar >> $GITHUB_ENV
          echo MANAGER_TARBALL_PATH=$ARCHIVE_DIR/${MANAGER_REPO}_${MANAGER_TAG}.tar >> $GITHUB_ENV
          echo COLLECTOR_TARBALL_PATH=$ARCHIVE_DIR/${COLLECTOR_REPO}_${COLLECTOR_TAG}.tar >> $GITHUB_ENV
          echo SCANNER_TARBALL_PATH=$ARCHIVE_DIR/${TRIVY_SCANNER_REPO}_${TRIVY_SCANNER_TAG}.tar >> $GITHUB_ENV

          if [[ -n "${{ inputs.upgrade-test }}" ]]; then
            echo HELM_UPGRADE_TEST=1 >> $GITHUB_ENV
          fi
      - name: Run e2e test
        run: |
          make e2e-test \
            KUBERNETES_VERSION=${{ matrix.KUBERNETES_VERSION }} \
            E2E_TESTS=${{ matrix.E2E_TEST }}
      - name: Upload artifacts
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        if: always()
        with:
          name: test_logs
          path: ${{ github.workspace }}/test_logs/
          retention-days: 1
