name: test
on:
  push:
    paths-ignore:
      - "**.md"
      - "hack/**"
      - "docs/**"
  pull_request:
    paths-ignore:
      - "**.md"
      - "hack/**"
      - "docs/**"
env:
  REGISTRY: ghcr.io

permissions: read-all

jobs:
  generate-bucket-id:
    name: "Generate build id for storage"
    uses: ./.github/workflows/build-id.yaml

  build-images:
    name: "Build images for e2e tests"
    uses: ./.github/workflows/e2e-build.yaml
    needs:
      - generate-bucket-id
    with:
      bucket-id: ${{ needs.generate-bucket-id.outputs.bucket-id }}

  e2e-test:
    name: "Run e2e tests"
    uses: ./.github/workflows/e2e-test.yaml
    permissions:
      contents: write
    needs:
      - build-images
      - generate-bucket-id
    with:
      bucket-id: ${{ needs.generate-bucket-id.outputs.bucket-id }}

  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: "1.21"
          check-latest: true
      - name: lint manager
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest
          args: --timeout=10m
      - name: lint remover
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest
          working-directory: pkg/remover
          skip-pkg-cache: true
          args: --timeout=10m
      - name: lint collector
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest
          working-directory: pkg/collector
          skip-pkg-cache: true
          args: --timeout=10m
      - name: lint trivvy scanner
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest
          working-directory: pkg/scanners/trivy
          skip-pkg-cache: true
          args: --timeout=10m

  unit-test:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911
        with:
          egress-policy: audit
      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: "1.21"
          check-latest: true
      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          key: ${{ runner.OS }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Unit test
        run: make test
      - name: Codecov upload
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24
        with:
          flags: unittests
          file: ./cover.out
          fail_ci_if_error: false

  check-manifest:
    name: "Check codegen and manifest"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911
        with:
          egress-policy: audit
      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: "1.21"
          check-latest: true
      - name: Check go.mod and manifests
        run: |
          go mod tidy
          git diff --exit-code
          make generate manifests
          git diff --exit-code

  scan_vulnerabilities:
    name: "[Trivy] Scan for vulnerabilities"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911
        with:
          egress-policy: audit

      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Get repo
        run: |
          echo "REPO=$(echo $GITHUB_REPOSITORY | awk '{print tolower($0)}')" >> $GITHUB_ENV

      - name: Build eraser-manager
        run: |
          make docker-build-manager MANAGER_REPO=${{ env.REGISTRY }}/${REPO}-manager MANAGER_TAG=test
      - name: Build remover
        run: |
          make docker-build-remover REMOVER_REPO=${{ env.REGISTRY }}/remover REMOVER_TAG=test
      - name: Build collector
        run: |
          make docker-build-collector COLLECTOR_REPO=${{ env.REGISTRY }}/collector COLLECTOR_TAG=test
      - name: Build trivy scanner
        run: |
          make docker-build-trivy-scanner TRIVY_SCANNER_REPO=${{ env.REGISTRY }}/${REPO}-trivy-scanner TRIVY_SCANNER_TAG=test

      - name: Run trivy for remover
        uses: aquasecurity/trivy-action@dc5a429b52fcf669ce959baa2c2dd26090d2a6c4
        with:
          image-ref: ${{ env.REGISTRY }}/remover:test
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"

      - name: Run trivy for eraser-manager
        uses: aquasecurity/trivy-action@dc5a429b52fcf669ce959baa2c2dd26090d2a6c4
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.REPO }}-manager:test
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"

      - name: Run trivy for collector
        uses: aquasecurity/trivy-action@dc5a429b52fcf669ce959baa2c2dd26090d2a6c4
        with:
          image-ref: ${{ env.REGISTRY }}/collector:test
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"

      - name: Run trivy for trivy-scanner
        uses: aquasecurity/trivy-action@dc5a429b52fcf669ce959baa2c2dd26090d2a6c4
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.REPO }}-trivy-scanner:test
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
