name: upgrade
on:
  push:
    paths:
      - "manifest_staging/charts/**"

  pull_request:
    paths:
      - "manifest_staging/charts/**"

jobs:
  build-e2e-test-list:
    name: "Build E2E Test List"
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - id: set-test-matrix
        run: |
          readarray -d '' test_dirs < <(find ./test/e2e/tests -mindepth 1 -type d -print0)
          json_array="$(printf "%s\n" "${test_dirs[@]}" | jq -R . | jq -cs)"
          echo "e2e-tests=${json_array}" > $GITHUB_OUTPUT
    outputs:
      e2e-tests: ${{ steps.set-test-matrix.outputs.e2e-tests }}

  helm-upgrade:
    name: "[Helm] Upgrade test"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write
    needs:
      - build-e2e-test-list
    strategy:
      fail-fast: false
      matrix:
        KUBERNETES_VERSION: ["1.24.7", "1.25.3", "1.26.0"]
        E2E_TEST: ${{ fromJson(needs.build-e2e-test-list.outputs.e2e-tests) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@1f99358870fe1c846a3ccba386cc2b2246836776
        with:
          egress-policy: audit
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Set up Go 1.19
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Setup buildx instance
        uses: docker/setup-buildx-action@v2
        with:
          use: true
      - uses: actions/cache@v3.3.1
        with:
          key: ${{ runner.OS }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
      - uses: crazy-max/ghaction-github-runtime@v2
      - name: Set env
        run: |
          echo REMOVER_REPO=remover >> $GITHUB_ENV
          echo MANAGER_REPO=manager >> $GITHUB_ENV
          echo COLLECTOR_REPO=collector >> $GITHUB_ENV
          echo TRIVY_SCANNER_REPO=scanner >> $GITHUB_ENV

          echo REMOVER_TAG=test >> $GITHUB_ENV
          echo MANAGER_TAG=test >> $GITHUB_ENV
          echo COLLECTOR_TAG=test >> $GITHUB_ENV
          echo TRIVY_SCANNER_TAG=test >> $GITHUB_ENV
      - name: Build eraser-manager
        run: make docker-build-manager
      - name: Build remover
        run: make docker-build-remover
      - name: Build collector
        run: make docker-build-collector
      - name: Build trivy-scanner
        run: make docker-build-trivy-scanner
      - name: Run e2e test
        run: |
          make e2e-test \
            HELM_UPGRADE_TEST=1 \
            KUBERNETES_VERSION=${{ matrix.KUBERNETES_VERSION }} \
            E2E_TESTS=${{ matrix.E2E_TEST }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: test_logs
          path: ${{ github.workspace }}/test_logs/*
          retention-days: 1
